/* 这是个css注释， css的语法为selector {key:value; key2:value2;...keyn:valuen} */
#para1 {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  color: red;
}

li.create-css {
  font-size: 20;
  color: red;
}

body {
  /* background:#ffffff url('https://www.runoob.com/try/demo_source/img_tree.png') no-repeat right top;*/
  background-color:#ffffff;
  background-image: url('https://www.runoob.com/try/demo_source/img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;

  font-size: 100%;
}

.text-color {color:red;}
h1.text-color {color:#00ff00;}
p.ex {color:rgb(0,0,255);}

h1.text-align{text-align: center}
.text-align.date{text-align:right;}
.text-align.main{text-align:justify;}

a.no-dec{text-decoration: none}

.text-overline {
  text-decoration: overline;
}
.text-line-through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}

p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}

.indent {
  text-indent: 50px;
}

p.serif{font-family:"Times New Roman",Times,serif;}
p.sansserif{font-family:Arial,Helvetica,sans-serif;}

p.normal {font-style:normal;}
p.italic {font-style:italic;}
p.oblique {font-style:oblique;}

h1.font-size-px {
  font-size: 40px;
}

h2.font-size-px {
  font-size: 30px;
}

p.font-size-px {
  font-size: 20px;
}


h1.font-size-em {
  font-size: 2.5em;
}

h2.font-size-em {
  font-size: 1.875em;
}

p.font-size-em {
  font-size: 1.25em;
}

a.link:link {color:#000000;}      /* 未访问链接*/
a.link:visited {color:#00FF00;}  /* 已访问链接 */
a.link:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a.link:active {color:#0000FF;}  /* 鼠标点击时 */
